<div class="social-links">
  <a href="https://www.facebook.com/abdallahmousselli201bk/" target="_blank" class="social social-facebook">
    <i class="fab fa-facebook-f"></i>
  </a>
  <a href="https://www.linkedin.com/in/abdullahmousselli/" target="_blank" class="social social-linkedin">
    <i class="fab fa-linkedin-in"></i>
  </a>
  <a href="https://github.com/daniMusli" target="_blank" class="social social-github">
    <i class="fab fa-github"></i>
  </a>
  <div class="clearfix"></div>
</div>
